body {
  color: #222222 !important;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #222222;
  text-decoration: none !important;
}

a:visited {
  color: #222222;
}

a:hover {
  color: #6C7A7D;
}

h2 {
  font-size: 80px;
}

li {
  font-size: 32px;
}


/*
content {
  background: url('/assets/images/bg.jpeg') center center no-repeat;
  background-size: 600px 600px;
}
*/

.added {
  color: #6C7A7D;
  font-size: 80px;
}

.navigation {
  font-size: 112px;
}

.social-links {
  font-size: 32px;
}

.left {
  color: #222222;
  height: 100vh;
  overflow: scroll;
}

.right {
  height: 100vh;
  color: #ffffff;
  background-color: #222222;
  overflow: scroll;
}

.right h2 {
  padding-bottom: 10px;
}

.right p {
  font-size: 32px;
}

.right p a {
  color: #6C7A7D;
}

.right p a:hover {
  background-color: #ffffff;
}

@media (min-width: 991px) {
  .scroll-down {
    display: none;
  }
}