<h2>about</h2>

<p>
  i am a student at <a href="#">the ohio state university</a>. i study german and computer science. my main interests are in {{#link-to "work"}}web and app development{{/link-to}}. i have experience working with html, css, javascript, ruby on rails, ember, and java.
</p>
