<h2>about</h2>

<p>
  i am a student at <a href="#">the ohio university</a>. i study german and computer science. my main interests are in <a href="#">web/app development</a> and <a href="#">german culture/language</a>.
</p>
