<div class="row">
  <div class="col-md-6 left">
    <h2 id="title">will naugle</h2>
    <h2>web developer</h2>
    
    {{application-hover}}
      
    <div class="social-links">
      <a href="https://github.com/willynogs" target="_blank">github</a>/<a href="https://www.linkedin.com/in/willnaugle" target="_blank">linkedin</a>/<a href="mailto:willynogs@gmail.com">email</a>
    </div>
    
    <div class="scroll-down">
      <h1>&darr; scroll down &darr;</h1>
    </div>
  </div>
  <div class="col-md-6 right">
    <div id="menu-button" class="pull-right" {{action "open" on="click"}}>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    {{liquid-outlet}}
  </div>
</div>
