<h2>work</h2>

<p>web development</p>
<ul>
  <li><a href="https://kanye-today.herokuapp.com/">ye'sterday</a></li>
  <li><a href="https://todo-90s.herokuapp.com/">90's to-do</a></li>
</ul>
<p>writing</p>