<h2>work</h2>

<div class="work">
  <p>web development</p>
  <ul>
    <li><a href="https://kanye-today.herokuapp.com/" target="_blank">ye'sterday</a><a href="https://github.com/willynogs/Kanye-Today" target="_blank">[gh]</a></li>
    <li><a href="https://todo-90s.herokuapp.com/" target="_blank">90's to-do</a><a href="https://github.com/willynogs/90sTodo" target="_blank">[gh]</a></li>
  </ul>
  <p>writing (coming soon...)</p>
</div>